{{/* layouts/partials/widgets/about.html override */}}

<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">
      {{/* existing profile image, name, and social icons are left untouched */}}
    </div>
  </div>

  <div class="col-12 col-lg-8">
    {{ if and .page.Params.widget .page.Title }}
      <h1 class='biography-title'>{{ .page.Title | markdownify | emojify }}</h1>
    {{ end }}

    <div class='main-content'>
      {{ .page.Content }}
    </div>

    <div class="row">
      {{ with .person.education }}
      <div class="education-div col-md-7">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
            {{ if .logo }}
              <img src="{{ .logo | relURL }}" alt="{{ .institution }}" style="height:24px;width:auto;margin-right:8px;vertical-align:middle;">
            {{ else }}
              <i class="fa-li fas fa-graduation-cap"></i>
            {{ end }}
            <div class="description">
              <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
              <p class="institution">{{ .institution }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</div>
