<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="footer-logo">
            <img src="logo.png" alt="Logo" />
          </a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Links</h5>
          <ul class="footer-links">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <ul class="footer-contact">
            <li><i class="fa fa-map-marker"></i> 123 Main Street, Anytown, USA</li>
            <li><i class="fa fa-phone"></i> (123) 456-7890</li>
            <li><i class="fa fa-envelope"></i> info@example.com</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; 2023 Your Name
    </div>
  </footer>
</body>
</html>
